{% extends "base.html" %} {% block content %}
<div class="row_container" style="padding: 20px;">
    <a target="_blank" href="{% url 'show_all_authors_json' %}">
        <button id="btn_json" type="button" class="btn btn-info">{JSON} View All Auhtors</button>
    </a>

    {% for author in authors_ids %}
    <div class="article">
        <p>
            <span>Name:</span> {{ author.name }}</p>
        <p>
            <span>Profile Page:</span>
            <a target="_blank" href="{{ author.profile_page }}">
                <button id="btn_link" type="button" class="btn btn-outline-secondary">Open</button>
            </a> {{ author.profile_page }}</p>
        <p>
            <span>About Author:</span> {{ author.about_author }}</p>
        <p>
            <span>Twitter Page:</span>
            <a target="_blank" href="{{ author.twitter_page }}">
                <button id="btn_link" type="button" class="btn btn-outline-secondary">Open</button>
            </a> {{ author.twitter_page }}</p>
        <p>
            <span>Linkedin Page:</span>
            <a target="_blank" href="{{ author.linkedin_page }}">
                <button id="btn_link" type="button" class="btn btn-outline-secondary">Open</button>
            </a> {{ author.linkedin_page }}</p>
        <p>
            <span>Crunchbase Page:</span>
            <a target="_blank" href="{{ author.crunchbase_page }}">
                <button id="btn_link" type="button" class="btn btn-outline-secondary">Open</button>
            </a> {{ author.crunchbase_page }}</p>
        <p>
            <span>Id:</span> {{ author.id }}</p>

        <a target="_blank" href="{% url 'show_all_authors_json' %}{{ author.id }}">
            <button id="btn_json" type="button" class="btn btn-outline-warning">{JSON} View This Author</button>
        </a>

        <a href="{% url 'authors' %}{{ author.id }}/articles/">
            <button id="btn_json" type="button" class="btn btn-outline-warning">Articles</button>
        </a>

        <a target="_blank" href="{% url 'authors' %}{{ author.id }}/articles_json/">
            <button id="btn_json" type="button" class="btn btn-outline-warning">{JSON} Articles</button>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}