{% extends "base.html" %}

{% block content %}
<div class="row_container" style="padding: 20px;">
    <a target="_blank" href="{% url 'show_all_articles_json' %}">
        <button id="btn_json" type="button" class="btn btn-info">{JSON} View All Articles</button>
    </a>

    {% for article in articles_ids %}
    <div class="article">
        <p>
            <span>Title:</span> {{ article.title }}</p>
        <p>
            <span>Website:</span>
            <a target="_blank" href="{{ article.website }}">
                <button id="btn_link" type="button" class="btn btn-outline-secondary">Open</button>
            </a> {{ article.website }}</p>
        <p>
            <span>Author:</span>
            <a href="{% url 'authors' %}{{ article.author.id }}">
                <button id="btn_link" type="button" class="btn btn-outline-secondary">Open</button>
            </a> {{ article.author }}</p>
        <p>
            <span>Profile Page:</span>
            <a target="_blank" href="{{ article.author_profile_page }}">
                <button id="btn_link" type="button" class="btn btn-outline-secondary">Open</button>
            </a> {{ article.author_profile_page }}</p>
        <p>
            <span>Publication Date:</span> {{ article.publication_date }}</p>
        <p>
            <span>Description:</span> {{ article.description }}</p>
        <p>
            <span>Image Path:</span> {{ article.image_path }}</p>
        <p>
            <span>Id:</span> {{ article.id }}</p>

        <a target="_blank" href="{% url 'show_all_articles_json' %}{{ article.id }}">
            <button id="btn_json" type="button" class="btn btn-outline-warning">{JSON} View This Article</button>
        </a>
    </div>

    {% endfor %}
</div>
{% endblock %}