/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    body {
        font-size: 13px;
    }

    .div_info div a button {
        font-size: 100%;
        margin-top: 3px;
    }
    
    .div_info div span {
        font-size: 100%;
    }

    .form-inline input {
        width: 60%;
    }

    .div_search {
        margin-left: 30%;
    }

    div.post_it_message .alert{
        width: 42%;
    }

    .article {
        width: 100%;
    }

    .navbar-brand_submenu {
        font-size: 13px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        font-size: 13px;
    }

    .div_search {
        margin-left: 50%;
    }

    div.post_it_message .alert{
        width: 30%;
    }

    .div_info div a button {
        font-size: 100%;
    }
    
    .div_info div span {
        font-size: 100%;
    }

    .div_info div.div_info_texto {
        margin-top: 7px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        font-size: 15px;
    }

    .div_search {
        margin-left: 63%;
    }

    div.post_it_message .alert{
        width: 22%;
    }

    .div_info div a button {
        font-size: 100%;
    }
    
    .div_info div span {
        font-size: 100%;
    }

    .div_info div.div_info_texto {
        margin-top: 7px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        font-size: 15px;
    }

    .div_search {
        margin-left: 38%;
    }

    div.post_it_message .alert{
        width: 18%;
    }

    .article {
        width: 80%;
    }

    .div_info div.div_info_texto {
        margin-top: 7px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        font-size: 15px;
    }

    .div_search {
        margin-left: 48%;
    }

    div.post_it_message .alert{
        width: 14%;
    }

    .article {
        width: 80%;
    }

    body {
        font-size: 15px;
    }

    .div_info div.div_info_texto {
        margin-top: 7px;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    }

body {
    background-color:rgb(63, 65, 72);
    color: #fff;

}

.article {
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #5a59599e;
    padding: 20px 20px 10px 20px;
    border-radius: 0.7em;
}

.article p {
    margin-bottom: 4px;
}

.article p span {
    font-weight: bold;
    color: orange;
}

.navbar-brand span#get {
    font-weight: bold;
    color: #F2EFE7;
}

.navbar-brand span#info {
    font-weight: bold;
    color: #E38D44;
    margin-left: -4px;
}

.navbar-brand span#articles {
    font-weight: bold;
    color: orange;
    margin-left: -4px;
}

.div_info {
    padding: 5px 0 5px 20px;
    background-color: #348a48;
}

.div_info button {
    margin-right: 10px;
}

.div_info span {
    font-weight: bold;
}

#btn_json {
    font-size: 80%;
    font-weight: bold;
    margin-bottom: 10px;
}

#btn_link {
    font-size: 70%;
    padding: 3px 4px 3px 4px;
    margin-left: 5px;
    margin-top: -5px;
    /* margin-bottom: 5px; */
}

.form-inline input {
    background:#383B43;
    color: #8B92A6;
}

div.post_it_message .alert{
    background-color: #f3d079;
    position: fixed;
    right: 0;
    border: 0;
    padding: 10px 10px 10px 10px;
    z-index: 1;
}

.myfooter {
    width: 100%;
    /* position: relative; */
    background-color: #383B43;
    padding: 15px 0 15px 0;
    text-align: center;
    vertical-align: middle;
}


.myfooter a {
    text-decoration: none;
    color: #303235;
}

.myfooter a {
    text-decoration: none;
    color: white;
}

.myfooter a:hover {
    /* text-decoration: none; */
    opacity: 0.3;
}

.myfooter span#link_wm_w {
    color: #209af1;
}

.myfooter span#link_wm_m {
    color: #ababab;
    margin-left: -2px;
    margin-right: 2px;
}

.myfooter span#link_wm_and {
    color: #c5a23e;
}

main {
    height: auto;
    min-height: 100vh;
}
