{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GetInfoArticles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/getinfoarticle.css' %}" />

    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="navbar_getinfoarticles">
        <nav class="row_container navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">
                <span id="get">Get</span>
                <span id="info">Info</span>
                <span id="articles">Articles</span>
            </a>

            <a class="navbar-brand navbar-brand_submenu" href="{% url 'home' %}">Articles
                <span class="badge badge-warning badge-pill">{{ count_new_articles }}</span>
            </a>

            <a class="navbar-brand navbar-brand_submenu" href="{% url 'authors' %}">Authors
                <span class="badge badge-warning badge-pill">{{ count_new_authors }}</span>
            </a>

            <div class="div_search">
                <form class="form-inline my-2 my-lg-0">
                    <input method="GET" class="form-control mr-sm-2;" name="search_articles_box" type="search" placeholder="Looking for ..."
                        aria-label="Search">
                    <a href="{% url 'search_articles' %}">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" style="margin-left: 10px;" type="submit">Search</button>
                    </a>
                </form>
            </div>
        </nav>
    </div>

    <div class="div_info row">
        <div class="col-3 col-sm-3 col-md-2">
            <a target="_blank" href="https://techcrunch.com/">
                <button type="button" class="btn btn-dark">TecCrunch</button>
            </a>
        </div>

        <div class="div_info_texto col-9 col-sm-9 col-md-10">
            <span>The articles displayed here are obtained from the TechCrunch site.</span>
        </div>
    </div>

    <div class="post_it_message">
        <div class="alert alert-warning alert-dismissible fade show shadow p-3 mb-5 rounded" role="alert">
            <h5>Information!</h5>
            <p>New articles can be viewed at any time automatically.</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="myfooter mt-auto">
        <strong id="text_footer">
            <a id="link_wm" target="_blank" href="https://wmdeveloper.herokuapp.com/">
                <span id="link_wm_w">W</span>
                <span id="link_wm_m">M</span>Developer</a>
            <span id="link_wm_and">and</span>
            <a target="_blank" href="https://cheesecakelabs.com/br/">CheesecakeLabs</a>
        </strong>
    </footer>

    <script>
        /* SCRIPT JQUERY PARA TROCAR DE COR NAVBAR */
        $(window).scroll(function () {
            if ($(this).scrollTop() > 10) {
                $('.navbar_getinfoarticles').css("position", "fixed")
                $('.navbar_getinfoarticles').css("width", "100%")
                $('.navbar_getinfoarticles').css("transition-duration", "0.7s")
                $('.post_it_message').css("margin-top", "30px")
                $('.navbar_getinfoarticles').css("z-index", "1")
            } else {
                if ($(this).scrollTop() <= 10) {
                    $('.navbar_getinfoarticles').css("-webkit-box-shadow", "none")
                    $('.navbar_getinfoarticles').css("position", "relative")
                    $('.navbar_getinfoarticles').css("transition-duration", "0.7s")
                    $('.post_it_message').css("margin-top", "0px")
                }
            }
        });
    </script>

    <script>
        setTimeout(function () {
            window.location.reload(1);
        }, 120000);
        // 2 minutes = 120 seconds
    </script>
</body>

</html>